UI vesamenu.c32
MENU TITLE kan-linux Boot Menu
TIMEOUT 30

DEFAULT live
TIMEOUT 1

LABEL live
    MENU LABEL kan-linux Live
    LINUX /casper/vmlinuz
    APPEND initrd=/casper/initrd quiet splash root=/dev/ram0 net.ifnames=0 biosdevname=0
